*{
	margin: 0;
	padding: 0;
}

.img1{
	float: left;
	padding-left: 135px;
	padding-top: 68px;
}

.img2{
	float: right;
	padding-top: 60px;
	padding-right: 135px;

}

.img3{
	padding-left: 135px;
	margin-left: 0;
	padding-top: 5px;
	padding-bottom: 12px;
}

.div1{
	height: 101.44px;
}

.div2{

}

.div3{
	background-color: #D83230;
	height: 366px;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
}
.div3left{
	padding-left: 135px
	width: 310px;
	height: 310px;
	padding-top:15px;
	padding-bottom: 15px;
	float: left;
}

.div3lefttitle1{
	padding-left: 135px;
	font-family: arial;
	font-size: 20px;;
	color: white;
}

.div3lefttitle2{
	padding-left:135px;
	font-family:arial;
	color:white;
	font-size:36px;
}

.div3left3{
	margin-left:135px;
	height:213.33px;
	width:280px;
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;
	padding-bottom:20px;
	background-color:#AD2826;
}


.div3form1{
	padding-top:5px;
	padding-bottom:5px;
	height:36px;
	width: 280px;
}

.div3form1input1{
	width:232px;
	height:32px;
	padding-left:10px;
	padding-right:10px;
}

.div3form2{
	padding-top:5px;
	padding-bottom:5px;
	height:36px;
	width: 280px;
}

.div3form2input1{
	width:232px;
	height:32px;
	padding-left:10px;
	padding-right:10px;
}

.div3form3input1{
	width:20px;
	height:20px;
	margin:3px 3px 3px 3px;
}

.div3label1{
	width: 20px;
	height: 26px;
	float:left;
}


.span1{
	color:white;
	font-family:Arial;
	font-size:12px;
	display:block;
	float:right;
}

.span2{
	color:white;
	font-size:10px;
	display:block;
	font-family: arial;
}

.div3left31{
	width:210px;
	height:20px;
	padding-top: 6px;
}

.signin{
	height:42.67px;
	width:280px;
	margin-top:20px;
	background-color:#F28005;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	font-size:18px;
	font-family:arial;
	color:white;
	border:2px solid #F28005;
	margin-bottom: 10px;
}

.forget{
	color:white;
	font-size:12px;
	font-family:arial;
}

.div3right{
	float:right;
	padding-right: 10px;
	font-size: 36px;
	font-family: helvetica;
	color:white;
	width:790px;
}


.div3right1{
	float:right;
	padding-right: 170px;
	font-size: 36px;
	font-family: helvetica;
	color:white;
	padding-left: 20px;
}

.div3right2{
	width:325px;
	height: 132px;
	background-color: #AD2826;
	color: white;
	font-family: arial;
	font-size: 24px;
	padding: 40px 0px 15px 0px;
	margin-top:25px;
	margin-right: 15px;
	text-align: center;
	float: left;
}

.div3right21{
	margin: 14px 25px 29px 25px;
}

.div3a1{
	color: white;
	margin: 14px 25px 29px 25px;
	background-color: #3FB0EB;
	text-align: center;
	font-size: 18px;
	font-family: arial ;
	width:273px;
	height:45px;
	text-decoration:none;
	padding:10px 25px;
	font-weight: bold;
}

.div3right3{
	width:325px;
	height: 132px;
	background-color: #AD2826;
	color: white;
	font-family: arial;
	font-size: 24px;
	padding: 40px 0px 15px 0px;
	margin: 25px 120px 0px 0px;
	text-align: center;
	float:left;
}

.div3right31{
	margin: 14px 25px 29px 25px;
}

.div3a2{
	color: white;
	margin: 14px 25px 29px 25px;
	background-color: #F28005;
	text-align: center;
	font-size: 18px;
	font-family: arial ;
	width:273px;
	height:45px;
	text-decoration:none;
	padding:10px 50px;
	font-weight: bold;
}

.foot{
	background-color: #AD2826;
	height:20px; 
}

.div4{
	height: 432px;
	background-color: #3ABAAC;
	color:black;
}

.div4top{
	font-family: helvetica;
	font-size: 40px;
	color: white;
	text-align: center;
	margin-top: 10px;
	padding-top: 20px;
}

.div4left{
	float:left;
	width:542.01px;
	margin-left: 150px;
	margin-top: 30px;

}

.div4right{
	float:right;
	width:410px;
	margin-right: 150px;
	margin-top: 16px;
}

.div5{
	height:459.02px;
}

.div5top{
	color: #D83230;
	font-family: helvetica;
	font-size: 36px;
	text-align: center;
	padding:10px 80px;
}

.div5below{
margin-top: 10px;
margin-left: 90px;
}

.div6{
	height: 490px;
	background-color: #f2eee3;
}

.div6top{
	color: #D83230;
	font-family: helvetica;
	font-size: 36px;
	text-align: center;
	padding:10px 80px;
	margin: 15px 0px;
}

.div6below{
	margin:10px 150px;
}

.div7{
	height: 194px;
}

.div7top{
	color: #D83230;
	font-family: helvetica;
	font-size: 36px;
	text-align: center;
	padding:20px 80px;
}

.div7below{
	display: inline;
	margin:0px 50px;
}


.div7below ul li{
	display:inline-block;
}

.div7below1{
	border-left: 1px solid #D83230;
	border-right: 1px solid #D83230;
	height: 80px;
	width:210px;
	margin-right:20px;
	padding-left: 20px;
	margin-left: 80px;
}

.div7below2{
	border-right: 1px solid #D83230;
	height: 80px;
	width:230px;
	margin-right:20px;
}

.div7below3{
	border-right: 1px solid #D83230;
	height: 80px;
	width:230px;
	margin-right:20px;
	
}

.div7below4{
	border-right: 1px solid #D83230;
	height: 80px;
	width:230px;
	margin-right:20px;
}

.div8{
	height:215px;
	background-color: #f2eee3;
}

.div8top{
	color: #D83230;
	font-family: helvetica;
	font-size: 36px;
	text-align: center;
	margin:20px 0px;
	padding-top: 20px;
}

.div8below{

}

.div8belowleft{
	float:left;
	width:486px;
	height:100px;
	margin-left: 140px;
}

.div8belowleft1{
		color: #3FB0EB;
	text-align: center;
	font-size: 30px;
	font-family: arial ;
	margin-bottom: 40px;
}


.div8a1{
	color: white;
	background-color: #3FB0EB;
	text-align: center;
	font-size: 18px;
	font-family: arial ;
	width:273px;
	height:45px;
	text-decoration:none;
	font-weight: bold;
	padding:15px 135px;
}

.div8belowright{
	float:right;
	width:486px;
	height:100px;
	margin-right: 140px;
}

.div8belowright1{
	color: #F28005;
	text-align: center;
	font-size: 30px;
	font-family: arial ;
	margin-bottom: 40px;
}


.div8a2{
	color: white;
	margin: 30px 0px 29px ;
	background-color: #F28005;
	text-align: center;
	font-size: 18px;
	font-family: arial ;
	width:386px;
	height:14.67px;
	text-decoration:none;
	padding:15px 170px;
	font-weight: bold;
}
.div90{
	float:left;
	margin:200px 5px 0px;
	width:76.5px;
	height:134px;
	background-color:#f2eee3;
	padding:20px;
	font-family:helvetica;
}

.div91{
	float:left;
	margin:200px 5px 0px 0px;
	width:210px;
	height:134px;
	background-color:#f2eee3;
	padding:20px;
	font-family:helvetica;
}

.div91 p{
	padding-top:10px;
}

.div92{
	float:left;
	margin:200px 5px 0px 0px;
	width:210px;
	height:134px;
	background-color:#f2eee3;
	padding:20px;
	font-family:helvetica;
}

.div92 p{
	padding-top:10px;
}

.div93{
	float:left;
	margin:200px 5px 0px 0px;
	width:210px;
	height:134px;
	background-color:#f2eee3;
	padding:20px;
	font-family:helvetica;
}

.div93 p{
	padding-top:10px;
}

.div94{
	float:left;
	margin:200px 5px 0px 0px;
	width:210px;
	height:134px;
	background-color:#f2eee3;
	padding:20px;
	font-family:helvetica;
}

.div94 p{
	padding-top:10px;
}

.div95{
	float:right;
	margin:200px 0px 0px 0px;
	width:76.5px;
	height:134px;
	background-color:#f2eee3;
	padding:20px;
	font-family:helvetica;
}

footer div{
	margin:  30px 0px 80px 130px;
	padding: 375px 0px 0px 0px;
	font-family:arial;
	font-size:12px;
}

footer div a{
	padding-right:15px;
	padding-left:15px;
	text-decoration:none;
	font-family:arial;
	font-size:12px;
	color:black;
	border-right:.5px solid black;
}